.title-h1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: Courier;
	font-size: 50px;
	color: #0074D9;
	-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: black;
}

.buttons {
	display: block;
	text-align: center;
	margin-top: 15%
}

#rock, #paper, #scissors {
	width: 120px;
	height: 90px;
	text-align: center;
	font-family: Courier;
	font-size: 20px;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 10px;
}

#rock:focus, #paper:focus, #scissors:focus {
	outline-style: none;
	background-color: #AAAAAA
}

.Score {
	margin-top: 15%;
	margin-bottom: 15%;
}

.content {
	display: block;
	text-align: center;
	font-family: Courier;
	font-size: 25px;
}